<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjl.lqpicturebackend.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.zjl.lqpicturebackend.model.Picture">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="picSize" column="picSize" jdbcType="BIGINT"/>
            <result property="picWidth" column="picWidth" jdbcType="INTEGER"/>
            <result property="picHeight" column="picHeight" jdbcType="INTEGER"/>
            <result property="picScale" column="picScale" jdbcType="DOUBLE"/>
            <result property="picFormat" column="picFormat" jdbcType="VARCHAR"/>
            <result property="thumbnailUrl" column="thumbnailUrl" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="spaceId" column="spaceId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="editTime" column="editTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,url,name,
        introduction,category,tags,
        picSize,picWidth,picHeight,
        picScale,picFormat,thumbnailUrl,userId,spaceId,
        createTime,editTime,updateTime,
        isDelete
    </sql>

    <select id="listMyLikedPicturesByMyBatis" resultType="com.zjl.lqpicturebackend.model.Picture">
        SELECT p.*
        FROM picture p
                 JOIN picture_like pl ON p.id = pl.pictureId
        WHERE pl.userId = #{userId}
          AND pl.isDelete = 0
          AND p.isDelete = 0
        ORDER BY pl.createTime DESC
    </select>
</mapper>
